/* nav modal css start*/
.mainDiv {
  position: relative;
  text-align: left;
  margin-right: 200px;
}

.aLink {
  text-decoration: none;
}

.packageContainer {
  font-family: "Inter", sans-serif;
  z-index: 99;
}

.mainMenuItem {
  position: absolute;
  background-color: #ffffff;
  transform-origin: center;
  width: 261px;
  border-radius: 8px;
  border-top-width: 1px;
  border-color: #f3f4f6;
  --ring-color: #000000;
  --ring-opacity: 0.05;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 55px;
}

.mainMenuItemWallet {
  position: absolute;
  background-color: #ffffff;
  transform-origin: center;
  width: 261px;
  margin-left: -29px;
  border-radius: 8px;
  border-top-width: 1px;
  border-color: #f3f4f6;
  --ring-color: #000000;
  --ring-opacity: 0.05;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: 16px;
}

.mainMenuDiv {
  padding: 4px 0px 4px;
  margin-bottom: 1px;
}

.NautilusLogoStyle {
  height: 30px;
  margin-right: 40px;
  margin-left: 8px;
}

.ergoPayLogo {
  height: 30px;
  margin-right: 40px;
  margin-left: 8px;
  font-family: "Inter", sans-serif;
}

.logosStyle {
  margin-left: 20px;
}

.item1 {
  background-color: #f3f4f6;
  color: #111827;
}

.item2 {
  color: black;
}

.item3 {
  display: flex;
  padding: 8px 16px;
  font-size: 13.5px;
  line-height: 20px;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 12px;
  color: #9ca3af;
  width: 20px;
  height: 20px;
}

.walletConnect {
  font-size: 16px;
}

.headerWalletImage {
  width: 30px;
  height: 25.3px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.headerWallet {
  display: flex;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.headerWalletWrapper {
  width: 261px;
}

.tokenIconImg {
  height: 20px;
  margin-right: 16px;
}

.modal1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6b7280;
  --bg-opacity: 0.75;
  transition-property: opacity;
}

.modal2 {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.modal3 {
  display: flex;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100%;
}

.modal4 {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transition-property: all;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.modal5 {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 20px;
  background-color: #ffffff;
}

.modal7 {
  display: flex;
  background-color: #fee2e2;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}

.modal8 {
  margin-top: 12px;
  text-align: center;
}

.modal9 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f9fafb;
}

.buttonClearWallet {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0 0 15px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(205, 10, 10, 0.8);
  transition-duration: 0.3s;
  border-color: transparent;
}

.buttonClearWallet:hover {
  background-color: white;
  color: rgba(205, 10, 10, 0.8);
  border: 0.1px solid rgba(205, 10, 10, 0.8);
}

.buttonClearWallet:active {
  background-color: white;
  box-shadow: 0 5px rgba(205, 10, 10, 0.8);
  transform: translateY(2px);
}

.button1 {
  display: inline-flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0d6dfd;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border-radius: 5.5px;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button1:hover,
.button2:hover {
  background-color: white;
  color: #0d6dfd;
  border: 0.1px solid #0d6dfd;
}

.button2 {
  display: inline-flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
  background-color: #0d6dfd;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border-radius: 6px;
  border-width: 1px;
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px) {
  .modal3 {
    padding: 0;
    align-items: center;
  }

  .modal4 {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    max-width: 32px;
  }

  .modal5 {
    padding: 24px;
    padding-bottom: 16px;
  }

  .modal6 {
    display: flex;
    align-items: flex-start;
  }

  .modal7 {
    margin-left: 0;
    margin-right: 0;
    width: 40px;
    height: 40px;
  }

  .modal8 {
    margin-top: 0;
    margin-left: 16px;
    text-align: left;
  }

  .modal9 {
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: row-reverse;
  }

  .button1 {
    margin-left: 12px;
    font-size: 13px;
    line-height: 12px;
    width: auto;
  }

  .button2 {
    margin-top: 0;
    margin-left: 12px;
    font-size: 13px;
    line-height: 13px;
    width: auto;
  }

  .dontShowMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 48px;
  }
}

/* nav modal css end */

.ergoBalanceDiv {
  background: #fafafa;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #f5f5f5;
}

.ergoTokenBalanceDiv {
  background: #fafafa;
  color: black;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #f5f5f5;
}

.ergoBalancePara {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}

.ergoBalanceText {
  font-weight: 600;
  color: black;
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}
.ergoBalanceAdd {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  color: #FFFF;
}
.ergoBalanceTokenP {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 10px;
}

.ergoBalanceTokenPB {
  color: #a6a6a6;
  margin-bottom: 0;
  margin-left: 10px;
}

.walletButton {
  /*background: #1D1D1D;*/
  border-radius: 15px;
  padding: 12px 15px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #444153;
}

.addressIcons svg {
  fill: #FFFFFF;
}
.addressIcons svg:hover {
  fill: #148fec;
}

@media (max-width: 640px) {
  .ergoBalanceDiv {
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #f5f5f5;
  }

  .ergoTokenBalanceDiv {
    padding: 12px 24px;
  }
}
