.mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
