.reactor-nav-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto auto; /* Two rows, size depends on content */
  width: 100%; /* Full width of the container */
  /* height: 100vh; */
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 640px) {
  .header-and-menu {
      display: none;
  }

  .reactor-nav-container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    /* grid-template-rows: auto auto; */
    grid-template-rows: fit-content;
    width: 100%; /* Full width of the container */
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.reactor-title {
  color: white;
  font-size: 24px;
  flex: 1;
  font-family: "Inter", sans-serif;
}

.reactor-menu-container {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  /* align-items: center; */
  background-color: #2B2935;
  border-radius: 15px;

  /* padding-right: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%; */
  /* margin-right: 30%; */
  margin-top: 20px;
  gap: 15px;
  padding: 20px;
  width: 250px;
}

.reactor-tab-button{
  color: #878494;
  font-family: "Inter", sans-serif;
  background: none;
  /* margin: 10px; */
  padding: 10px;
  width: 100%;
  text-align: left;
}
.reactor-tab-button.active {
  color: #F3B619;
  background-color: #3E3733;
  padding: 10px;
  border-radius: 15px;
  display: block;
}
.reactor-tab-button:hover {
  color: #ffffff;
  background: #3E3733;
  border-radius: 15px;
}

.header-and-menu {
  justify-content: flex-start;
  flex-direction: column;
}

/* .main-content {
  margin-right: 15%;

} */
