.reactor-nav-container {
  display: grid;
  grid-template-columns: 2fr 10fr; 
  grid-template-rows: auto auto; /* Two rows, size depends on content */
  width: 100%; /* Full width of the container */
  height: 100vh; /* Full viewport height (adjust as necessary) */
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 640px) {
  .header-and-menu {
      display: none;
  }

  .reactor-nav-container {
    display: grid;
    grid-template-columns: 2fr 10fr; 
    grid-template-rows: auto auto; /* Two rows, size depends on content */
    width: 100%; /* Full width of the container */
    height: 100vh; /* Full viewport height (adjust as necessary) */
  }
}

.reactor-title {
  color: white;
  font-size: 24px;
  flex: 1;
  font-family: "Inter", sans-serif;
}

.reactor-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B2935;
  border-radius: 15px;
  display: block;
  padding-right: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-right: 30%;
  margin-top: 10%;
}

.reactor-tab-button{
  color: #878494;
  font-family: "Inter", sans-serif;
  background: none;
  margin: 10px;
  width: 100%;
}
.reactor-tab-button.active {
  color: #F3B619;
  background-color: #3E3733;
  padding: 10px;
  border-radius: 15px;
  display: block;
}
.reactor-tab-button:hover {
  color: #ffffff;
}

.header-and-menu {
  justify-content: flex-start;
  flex-direction: column; 
}

.main-content {
  margin-right: 15%;

}