.token-container {
    /* display: flex; */
    flex-direction: row;
    /* Align children side by side */
    flex-wrap: wrap;
    /* Allow wrapping for smaller screens */
    justify-content: space-between;
    /* Distribute space between components */
    margin: 0 auto;
    /* Center the container */
    max-width: 100%;
    /* Remove max-width to allow full width */
}

@media (max-width: 1100px) {

    /* Adjust breakpoint as needed for mobile view */
    .token-container {
        flex-direction: column;
        max-width: fit-content;
        /* Stack children on top of each other */
    }
}

.token-info, .token-purchase-form {
    flex: 1 1 48%; /* Take up half the width minus a bit for margin */
    margin: 0%; /* Provide some space between the components */
  }
  
  @media (max-width: 500px) {
    .token-info, .token-purchase-form {
      flex-basis: 98%; /* Take up almost full width on mobile */
      margin: 0px; /* Center components with a bit of margin */
    }
  }
  