.token-info {
    padding: 1rem;
    text-align: left;
    border-radius: 8px 8px 0 0;
}

.token-logo {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}

.token-info h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.token-info p {
    color: #555;
    margin-bottom: 1rem;
}

.token-links a {
    text-decoration: none;
    color: #5755d9;
    /* A placeholder color for links */
    margin-right: 0.5rem;
    font-weight: bold;
}

.token-links a:hover {
    text-decoration: underline;
}

.header-info {
    align-items: center;
    justify-content: space-between;
    /* Establishes a flex container */
    width: 100%;
    /* Ensures it fits the width of its parent */
    /* Aligns items vertically in the center */
}



@media (max-width: 500px) {

    /* Adjust breakpoint as needed for mobile view */
    .token-logo {
        margin: 0px;
    }

    .token-info {
        margin: 0px;
    }

    .token-links {
        margin: 0px;
    }

    .header-info h4 {
        width: 90%;
    }
}
